$colorPrimary: #9273cd;
$colorText: #0f0f0f;
$colorSubtitle: rgba(0, 0, 0, 0.57);
$screenWidthXs: 420px;
$screenWidthSm: 576px;
$screenWidthMd: 768px;
$screenWidthLg: 992px;
$screenWidthXl: 1200px;
$screenWidthXxl: 1440px;
$screenWidthXxxl: 2000px;
